{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block all_content %}

<!--page_container-->
    <div class="page_container">

 {% if page.homepage.slides.all %}
<!--slider-->
    <div id="ccCarousel" class="carousel slide">  
            <!-- Carousel items -->  
          <div class="carousel-inner">  
             {% for slide in page.homepage.slides.all %}
    
            <div class="item{% if forloop.first %} active{% endif %}">
            <img src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}" >
            </div>  
         {% endfor %}         
        </div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#ccCarousel" data-slide="prev"></a>  
  <a class="carousel-control right" href="#ccCarousel" data-slide="next"></a>  
</div>  
  
<!--//slider-->
{% endif %}                 
        <!--planning-->
         {% editable page.homepage.calloutleft page.homepage.calloutcenter page.homepage.calloutright page.homepage.callout_title_left page.homepage.callout_title_center page.homepage.callout_title_right%}
        <div class="wrap planning">
            <div class="container">
                <div class="row">
               
                        <div class="col-sm-4">
                     
                        <a href="#">
                            <span class="link_title">{{ page.homepage.callout_title_left }}</span>
                                {{ page.homepage.calloutleft }}
                        </a>
                   
                    </div>

                   
                        <div class="col-sm-4">
                        <a href="#">
                            <span class="link_title">{{ page.homepage.callout_title_center }}</span>
                            {{ page.homepage.calloutcenter }}
                        </a>
                   
                    </div>
                    
                        <div class="col-sm-4">
                        <a href="#">
                            <span class="link_title">{{ page.homepage.callout_title_right }}</span>
                            {{ page.homepage.calloutright }}
                        </a>
                  
                    </div>
                                     
                </div>
            </div>
        </div>
  {% endeditable %}
        <!--//planning-->
        
        <!--Welcome-->

        <div class="wrap block">
            <div class="container welcome_block">
                <div class="welcome_line welcome_t"></div>
               {% editable page.homepage.heading page.homepage.subheading %}
                {{ page.homepage.heading }}
                

        <span>{{ page.homepage.subheading }}</span>

            {% endeditable %}
            </div>
                <div class="welcome_line"></div>
        </div>       
<div class="yellow_box">
    <div class="container wrap ">
            
                <div class="row">
                    <div class="col-md-4 offset2">
                        <h3 class="title">Sign up for the Beta!</h3>
                         {{settings.SITE_TAGLINE}}    
                    </div> 
                    <div class="col-md-2">
                        <h3 class="title">Testimonials</h3>
                            
                       
    <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

        {% fields_for form %}
        <div class="form-actions">
            <input class="btn btn-primary btn-large" type="submit" value="Submit">
        </div>
    </form>

                            






                    </div>
                
                     
        </div>
    </div>   
</div> 
        <!--Latest news-->
        
        <!--Latest news-->
        
        <!--latest posts-->
 
        <!--//latest posts--> 
 
    <!--//page_container-->

{% endblock %}


