{% load i18n future pages_tags %}

{% spaceless %}



{% for page in page_branch %}
{% if page.in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
{% if page.is_current_or_ascendant or not page.is_primary %} 

  <li class="
             {% if page.is_current %} active{% endif %}
             {% if not page.is_primary and forloop.first %} first{% endif %}
             {% if forloop.last %} last{% endif %}"
      id="tree-menu-{{ page.html_id }}"> 
    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}


  </li>


</ul>
{% endif %}

{% endif %}

{% endfor %}


{% endspaceless %}
