{% extends "pages/page.html" %}

{% load mezzanine_tags  bootstrap %}

{% block extra_js %}

<script>
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block contact %}
<div class="container">
<div class="col-md-6 pad_top">

       
 <div id="bla" class="responsive-iframe-container"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kalevankatu+18b,+Helsinki,+Finland&amp;aq=0&amp;oq=kalevenkatu+18b&amp;sll=37.0625,-95.677068&amp;sspn=54.665451,66.09375&amp;ie=UTF8&amp;hq=&amp;hnear=Kalevankatu+18,+00100+Helsinki,+Finland&amp;t=m&amp;ll=60.166451,24.935703&amp;spn=0.01708,0.036478&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe><br />

    <p>Kalevankatu 18B<br/>00100 Helsinki, Finland</p>
    Email: <a href="mailto:#">info@kneto.com</a><br/></p>                           
    </div>
<p>Kalevankatu 18B<br/>00100 Helsinki, Finland</p>
    Email: <a href="mailto:#">info@kneto.com</a><br/></p>      
     </div>
        
<div class="col-md-6 pad_top">
            <h2 class=""><span>
   {% with page.form as page_form %}
    {% editable page_form.content %}
    {{ page_form.content|richtext_filters|safe }}
    {% endeditable %}
    {% endwith %}
            </span></h2>
    <div class="form-group">  
            
            <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                  {% csrf_token %}
                 {{ form|bootstrap }}
               

        <div class="form-actions">
            <input class="btn btn-primary btn-large" type="submit" value="Submit">

            </div>
            </form>
    </div>    
</div>
</div>




{% endblock %}

